body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a49898;
}
h1{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
#list{
    color: darkolivegreen;
}
a{
    text-decoration: none;
    margin: 5px;
    font-size: 30px;
}
a:hover{
    color: #08a208;
}
ul{
    padding: 2px;
    margin: 5px;
}
li::before{
    content:"OK ";
    color:purple;
}
table{
    border: 2px solid yellow;
    width:100%;
}
tr{
    font-weight: bold;
    font-size: large;
}
th{
    border: 1px solid yellow;
    padding: 5px;
}
td{
    border: 1px solid green;
}
input,textarea,button{
    padding: 5px;
    width: 50%;
    display: block;
}